<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Users</title>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
        <script type="text/javascript" src="js/main.js"></script>
    </head>
    <body>
    

<div class="container">
	<h1>Something went wrong!</h1>
	<br/>
	<a th:href="@{/}" class="btn btn-primary">Back</a>
</div>


 </body>
  </html>