<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>User Management</title>
         <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
         <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>
    <body>
    <div class="container jumbotron vertical-align">
    	<div class="container">
	        <h1 class="text-center">Welcome!</h1>
			<div class="row col-md-4 col-md-offset-5">
	         	<a class="btn btn-lg btn-primary" th:href="@{/login}">Login</a>
	        	<a class="btn btn-lg btn-primary" th:href="@{/register}">Register</a>
        	</div>
       	</div>
        </div>
    </body>
</html>